/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	background-image: url("../images/benjamin-voros-phIFdC6lA4E-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	color: white;
}

.spacer{
	height: 25vh;
}
.title{
	height: 50vh;
	width: 100%;
	background-image: url("../images/KALogo.png");
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
}

.message{
	text-align: center;
}
.photoCred{
	text-align: center;
	color: grey;
}